test*
**.swp
**backups
**.json
**.log
**.out
**.o
**.vscode
**.a
**printfTester
**gnlTester*
piscine_reloaded/ex02/clean
piscine_reloaded/ex03/find_sh.sh
piscine_reloaded/ex04/MAC.sh
piscine_reloaded/main/a.out
piscine_reloaded/main/compile_c.sh
**/**/**/push_swap_vis*
